
body{background-color: #8FBC8F;}

 h1{color:#8A2BE2}
 body {
    font-family: 'Brush Script MT', Monospace ;
  }
h2{color:#FF8C00}

hr{background-color: rgb(255, 0, 0);
border-style:dotted;
height:5px;
width:100px;}





